<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonyapps.a2022proiect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2022proiect">
        <activity
            android:name=".ui.Desert"
            android:exported="false" />
        <activity
            android:name=".ui.Paste"
            android:exported="false" />
        <activity
            android:name=".ui.Pizza"
            android:exported="false" />
        <activity
            android:name=".ui.Carne"
            android:exported="false" />
        <activity
            android:name=".ui.Micdejun"
            android:exported="false" />
        <activity
            android:name=".ui.Garnituri"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Paginastart"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.2022proiect.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>